* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
header{
    background-image: url(./asset/images/object.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow: hidden;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 7%;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
.hero-intro{
    text-align: center;
}
.hero-intro h1{
    font-size: 80px;
    color: white;
}
.hero-intro .hero-span{
    color: white;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.hero-intro button{
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #C271FF;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 30px;
}
#pros{
    padding: 30px 10%;
}
.pros-cont{
    text-align: center;
    color: white;
    margin-top: 7%;
}
.highlight{
    color: #C271FF;
    font-weight: bold;
}
.pros-cont h2{
    font-weight: lighter;
    
}
.card-cont{
    display: flex;
    justify-content: center;
    margin-top: 7%;
}
.pros-card{
    text-align: center;
    width: 100%;
    line-height: 20px;
    margin-bottom: 30px;
}
.pros-card h3{
    font-size: 14px;
}
.pros-card p{
    font-size: 12px;
    font-style: italic; 
}
.bruce-img{
    border-radius: 50%;
}
#testimonials{
    background-color: #C271FF;
    margin-top: 30px;
    display: flex;
    justify-content:center ;
    color: white;
    padding: 40px 20px;
}
.testimonial-cont{
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 30px;
    max-width: 1000px;
}
.testimonial-cont blockquote{
    font-size: 14px;
    width: 70%;
    line-height: 1.6;
    margin-bottom: 30px;
}
.testimonial-cont h3{
    font-size: 14px;
}
.testimonial-cont p{
    font-size: 12px;
    font-style: italic;
}
#videos-list{
    padding: 60px 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}
.list-cont{
    max-width: 1000px;
    width: 100%;
}
.list-cont h2{
    text-align: center;
    font-size: 28px;
    color: #888;
    font-weight: 300;
    margin-bottom: 40px;
}
.videos-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.videos-card{
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    text-align: center;   
}
.videos-card h3{
    margin-top: 10px;
    font-size: 13px;
    font-weight: 600;
    text-align: left;
}
.videos-card p {
    font-size: 11px;
    color: #888;
    margin: 6px 0;
    text-align: left;
}
.thumbnail {
    position: relative;
    width: 100%;
    height: 120px;
    overflow: hidden;
}
.thumbnail img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}
.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #C271FF;
    color: #fff;
    border-radius: 50%;
    font-size: 12px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.play-button img {
    border-radius: 50%;
    width: 150%;
    height: 150%;
}
.videos-card-content{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.videos-card-content img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.videos-card-content h4{
    font-size: 11px;
    color: #C271FF;
    font-weight: 500;
}
.rating{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.rating img{
    width: 70px;
}
.rating p{
    font-size: 11px;
    color: #C271FF;
}
#membership{
    background-color: #071629;
    display: flex;
    justify-content:center ;
    color: white;
    padding: 40px 20px;
    text-align: center;
}
.membership-cont{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
.membership-cont h2{
    color: #888;
    font-weight: 300;
    font-size: 24px;
}
.membership-cards{
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.mem-card{
   padding: 20px;
   flex: 1 1 200px;
   max-width: 220px;
}
.mem-card img{
    width: 24px;
    width: 24px;
}
.mem-card h3{
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
}
.mem-card p{
    font-size: 10px;
    color: #888;
    margin-top: 10px;
    line-height: 1.6;
    max-width: 167px;
}
.membership-cont button{
    background-color: #C271FF;
    border: none;
    cursor: pointer;
    padding: 12px 24px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 30px;
}
#FAQ{
    background-color: white;
    padding: 40px 20px;
    text-align: center;
}
.faq-cont{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
.faq-title{
    color: #888;
    font-weight: 500;
    font-size: 24px; 
    margin-bottom: 40px;  
}
.faq-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    text-align: left;
}
.flex-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    text-align: left;
    min-width: 250px; 
}
.faq-item{
    padding: 20px;
   
}
.faq-item h3{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #071629;
    
}
.faq-item p{
    font-size: 14px;
    color: #888;
    line-break: 1.6;
    margin: 0;
    max-width: 350px;
}
#footer{
    background-color: #071629;
    text-align: center;
    padding: 40px 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}
.font-cont{
    max-width: 1000px;
    margin: 0 auto;
}
.footer-item{
    display: flex;
    justify-content: space-between;
    padding: 20px 6rem;
}
.footer-socials{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}
.footer-socials i{
    background-color: white;
    font: 14px;
    color: #071629;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-copy{
    font-size: 12px;
    color: #888;
}

