* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
header{
    background-image: url(./asset/images/object.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow: hidden;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 7%;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
.hero-intro{
    text-align: center;
}
.hero-intro h1{
    font-size: 80px;
    color: white;
}
.hero-intro .hero-span{
    color: white;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.hero-intro button{
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #C271FF;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 30px;
}
#pros{
    padding: 30px 10%;
}
.pros-cont{
    text-align: center;
    color: white;
    margin-top: 7%;
}
.highlight{
    color: #C271FF;
    font-weight: lighter;
}
.pros-cont h2{
    font-weight: lighter;
    
}
.card-cont{
    display: flex;
    justify-content: center;
    margin-top: 7%;
}
.pros-card{
    text-align: center;
    width: 100%;
    line-height: 20px;
    margin-bottom: 30px;
}
.pros-card h3{
    font-size: 14px;
}
.pros-card p{
    font-size: 12px;
    font-style: italic; 
}
.bruce-img{
    border-radius: 50%;
}
#testimonials{
    background-color: #C271FF;
    margin-top: 30px;
    display: flex;
    justify-content:center ;
    color: white;
    padding: 40px 20px;
}
.testimonial-cont{
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 30px;
    max-width: 1000px;
}
.testimonial-cont blockquote{
    font-size: 14px;
    width: 70%;
    line-height: 1.6;
    margin-bottom: 30px;
}
.testimonial-cont h3{
    font-size: 14px;
}
.testimonial-cont p{
    font-size: 12px;
    font-style: italic;
}
